extends layout

block content
  h1= title
  if messages.error
    p= messages.error
  form(method='POST')
    .form-group
      label(for='username') Username: 
      input#username.form-control(type='text' placeholder='username' name='username'  required value=(undefined===user ? '' : user.username))
    .form-group
      label(for='password') Password: 
      input#password.form-control(type='password' placeholder='password' name='password')
    button.btn.btn-primary(type='submit') Sign-in